$transparent: #000000a0;
@use "sass:math";

@font-face {
    font-family: rodin;
    src: url("/rodin.otf");
}

@media screen and (max-width: 768px) {    
    footer {
        text-align: center;
    }

    #presentation {
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: large;
        border-radius: 10px;
        font-family: rodin;
        flex-shrink: 1;
        text-align: center;
        h1, p {
            color: white;
        }
    }

    .button {
        transition-duration: 0.5s;
        background-color: #00000000;
        border-style: none;
        margin: 0 10%;
        color: #e8f4f8;
        position: static;
    }

    #everything {
        display: grid;
        flex-direction: column;
    }

    #content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;   
    }

    .content-div {
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
    #listing-div {
        overflow: scroll;
        height: 100%;
        width: 100%;
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .listing-element {
        color: white;
        margin-bottom: 1%;
        padding: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: $transparent;
        font-family: rodin;
        overflow: scroll;
        a {
            font-size: large;
            color: white;
        }
        img {
            width: 30%;
            object-fit: contain;
            flex-shrink: 0;
        }
        div {   
            display: grid;
            align-items: center;
            font-size: small;
        }
    }    
}

#everything {
    display: flex;
    flex-direction: column;
}

.content-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

%hover {
    color: #00ADB5;
    transform: scale(1.05);
}

%overflow {
    overflow: hidden;
}

%intro-div-sizing {
    width: 45vw;
    height: 45vh;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fill;
    z-index: -1;
    filter: blur(5px)
}

#listing-div {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listing-element {
    width: 90%;
    color: white;
    margin-bottom: 1%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $transparent;
    font-family: rodin;
    a {
        font-size: large;
        color: white;
    }
    a:hover {
        @extend %hover;
    }
    img {
        width: 20%;
        margin: auto;
        object-fit: contain;
        flex-shrink: 0;
    }
    div {
        margin-left: 3%;
        display: grid;
        align-items: center;
        font-size: small;
    }
}

footer {
    color: white;
    font-family: rodin;
    text-align: right;
}

body {
    margin: 0;
    padding: 0;
    overflow:hidden;
}

#challenges-button {
    margin: 0 auto;
}

button {
    transition-duration: 0.5s;
    background-color: #00000000;
    border-style: none;
    color: #e8f4f8;
    margin: 0 21.75%;
    font-size: large;
    position: static;
}

button:hover {
    @extend %hover;
}

nav {
    @extend %overflow;
    display: flex;
    align-items: center;
    height: 10vh;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: black;
    background-color: $transparent;
    font-family: rodin;
}

#presentation {
    @extend %overflow;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center; 
    justify-content: center;
    padding: 0 20px;
    font-size: large;
    border-radius: 10px;
    font-family: rodin;
    flex-shrink: 0;
    h1, p {
        color: white;
    }
}

#content-wrapper {
    @extend %overflow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    img {
        height: 50%;
        border-radius: 15px;
    }
}